@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Serif:opsz,wght@8..144,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Bokor&family=Lacquer&family=Libre+Barcode+39+Extended+Text&family=Michroma&family=Nosifer&family=Permanent+Marker&family=Rubik+Wet+Paint&family=Rye&display=swap'); 

:root {
  --primary-color: rgba(147,144,144,1.00);
  --overlay-color: rgba(248,151,76,1.00);
  --font-color: rgba(0,0,0,1.00);
  --black-color: rgba(0,0,0,1.00);
  --h1-color: rgba(248,151,76,1.00);
  --h2-color: rgba(94,91,89,1.00);
  --button-color: #851610;
  --button-hover-color: rgba(254,223,200,1.00);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: white;
}

.hamburger {
	color: var(--button-color);
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#851610;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Profile Container */

.profile-container {
	height:100px;
	margin: 0;
	padding: 0;

}

.profile-content {
	margin-top: 0;
	display: flex;
	background-image: url("../../../../../OneDrive/Documents/GitHub/static-front-end-project/images/hg.moko1.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
}

.profile-content > * {
	flex-basis: 100%;
}

.c2-box img {
	position: relative;
	top: 342px;
	left: 220px;
	align-items: center;
	background: transparent;
	z-index: -3;
}

.profile-container button {
	background: var(--button-color);
	border: var(--button-color);
	font-family: 'Roboto Serif', serif;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	margin: 0 5px;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container button:hover {
	color: var(--button-hover-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale (1.1);
	transform: scale(1.1);
	transition-delay: 0.5s;
}

.btn button {
	position: relative;
	top: 315px;
	right: 190px;
}

/* About Content */

.about {
	width: 100%;
	height:500px;
	margin: 0;
	padding: 0;

}

.about-content {
	display: flex;
	margin-top: 870px;
	height: 610px;
	position: relative;
	top: 0;
	right: 110px;
}

.about-content > * {
	flex-basis: 100%;
}

.about-image-1 {
	position: relative;
	top: -15px;
	left: 160px;
	height: 550px;
	width: 450px;
	border-radius: 5px;
	box-shadow: 20px 3px 0px 0px rgba(0,0,0,1.00);
}

.about-image-1:hover {
	cursor: pointer;
	transform: scale(1.3);
	transition-delay: 0.5s;
	z-index: 9;
}

.about-image-2 {
	position: relative;
	top: 160px;
	left: 130px;
	height: 400px;
	width: 350px;
	border-radius: 5px;
	
}

.about-image-2:hover {
	cursor: pointer;
	transform: scale(1.6);
	transition-delay: 0.5s;
}

.about-info {
	position: relative;
	top: 0px;
	left: 160px;
	width: 300px;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	background-color: whitesmoke;
	box-shadow: 20px 3px 0px 0px rgba(0,0,0,1.00);
}

.about-info p {
	text-align: center;
}

.about-info h1,h2,p {
	font-family: 'Roboto Serif', serif;
}

.about-info:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition-delay: 0.5s;
}

/* About Content Cont. - Whakapapa - Bio */

.about-cont {
	width: 100%;
	height:500px;
	margin: 0;
	padding: 0;	
}

.about-cont-content {
	position: relative;
	top: 0px;
	right: 40px;
	column-gap: 5px;
	display:grid;
	grid-template-columns: 500px 500px;
	padding: 20px;
	margin-top: 220px;
}

.whakapapa {
	position: relative;
	top: 0;
	left: 750px;
	border-bottom: thick double black;
	padding: 10px 50px 20px;
}

.bio {
	position: relative;
	top: 0;
	left: 800px;
	border-right: thick double var(--button-color);
	padding: 10px 50px 20px;
	
}

.whakapapa h1, .bio h1, p {
	font-family: 'Roboto Serif', serif;
	font-size: 13px;
	text-align: start;
}

.whakapapa h1 {
	font-size: 20px;
	text-align: center;
}

.bio h1 {
	font-size: 20px;
	text-align: center;
}


.about-cont button {
	background: var(--button-color);
	border: var(--button-color);
	font-family: 'Roboto Serif', serif;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-cont button:hover {
	color: var(--button-hover-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale (1.1);
	transform: scale(1.1);
	transition-delay: 0.5s;
}

.btn1 button {
	position: relative;
	top: 40px;
	left: 120px;
}

/* Page Break */

.page-break {
	width: 100%;
	height:500px;
	margin: 0;
	padding: 0;

}

.break {
	margin-top: 200px;
}

.break-contents {
	text-align: center;
	font-family: 'Roboto Serif', serif;
}

.break-contents img {
	height: 250px;
	width: 550px;
}

.view-port {
	font-family: 'Roboto Serif', serif;
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	border-radius: 5px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--black-color);
}

.view-port:hover {
	color: var(--button-color);
	transition-delay: 0.5s;
	cursor: pointer;
}

/* Portfolio Content/Images */

.portfolio {
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 0;	
}

.portfolio-content {
	padding: 30px;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 450px 450px 450px ;
	grid-template-rows: 450px 450px;
	
}

.portfolio-image {
	position: relative;
	top: 0;
	left: 570px;
	height: 450px;
	width: 550px;
}

.portfolio-image img {
	height: 450px;
	width: 450px;
	border-radius: 20px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 100px;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	background: #851610;
	cursor: pointer;
	border-radius: 20px;
}

.overlay-red {
	position: absolute;
	top: 0;
	left: 0;
	right: 100px;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	background: black;
	cursor: pointer;
	border-radius: 20px;
}

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}

.overlay-content-red {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.portfolio-image:hover .overlay {
	opacity: 0.8;

}

.portfolio-image:hover .overlay-red {
	opacity: 0.8;
}

.book-button {
	position: relative;
	top: 30px;
	left: 1210px;
}

.book-button button {
	background: var(--button-color);
	border: var(--button-color);
	font-family: 'Roboto Serif', serif;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-button button:hover {
	color: var(--button-hover-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale (1.1);
	transform: scale(1.1);
	transition-delay: 0.5s;
}

/* Pricing Container/Book */

.pricing-container {
	position: relative;
	top: 50rem;
	width: 100%;
	height: 800px;
	margin: 0;
}

.pricing-intro {
	font-family: 'Roboto Serif', serif;
	text-align: center;
	position: relative;
	top: 0px;
	left: 10px;
}

.pricing-intro h1 {
	font-size: 55px;
	font-weight: bold;
}

.pricing-intro h2 {
	font-size: 35px;
	font-weight: bold;
}

.pricing-intro p {
	text-align: center;
	font-size: 16px;
}

.pricing-contents {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 250px 250px 250px ;
	position: relative;
	top: 0;
	left: 290px;

}

.gg {
	position: relative;
	top: 10px;
	left: 0px;
	
}

.gg-shopping-bag {
	position: relative;
	top: -25px;
	left: 80px;
}

.gg-shopping-cart {
	position: relative;
	top: -25px;
	left: 80px;
}

.fa-clock-o {
	position: relative;
	top: 0;
	left: 50px;
}

.pricing-contents2 {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 250px 250px 250px ;
	position: relative;
	top: 40px;
	left: 290px;
}

.full-day {
	display:inline-block;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	position: relative;
	top: 30px;
	left: 550px;
	width: 250px;
	height: 350px;
	padding: 30px;
	
}

.full-day {
	background-image: url("../images/price-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.full-day:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
	z-index: 9;
	position: relative;
	
}

.full-day h3 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 15px;
	border-bottom: 1px solid black;
}



.full-day p {
	text-align: center;
	font-size: 15px;
	border-bottom: 1px solid black;
}

.full-day span {
	font-size: 29px;
	font-weight: bold;
	
}

.book-now-button {
	padding-left: 15px;

}

.full-day button {
	background: var(--button-color);
	border: var(--button-color);
	font-family: 'Roboto Serif', serif;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.full-day button:hover {
	color: var(--button-hover-color);
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	transform: translateY(-3px);
	transition-delay: 0.5s;
	
}

/* Contact Content */

form {
	max-width: 420px;
	margin: 50px auto;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Roboto Serif', serif;
  width: 100%;
  background:black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
}
[type="submit"]:hover { background:#851610; }

.contact {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	position: relative;
	top: 62rem;
	width: 100%;
	height: 600px;
	margin: 0;
	/*background: linear-gradient(to left, #333, #333 10%, #eee 50%, #333 60%);*/
}

.contact-content {
	position: relative;
	top: 10px;
	left:68%;
	width: 800px;
}

.contact h1 {
	padding-top:10px;
	text-align: center;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-weight: bold;
}

.contact-content p {
	text-align: center;
	font-family: 'Roboto Serif', serif;
	font-weight: bold;
}

.feedback-input {
  color:black;
  font-family: 'Roboto Serif', serif;
  font-weight:400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  box-shadow: 0px 10px 15px black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

/* Sub Footer */

.sub-footer {
	position: inline;
	top: 0rem;
	width: 100%;
	height: 200px;
}

.sub-footer-contents {
	display:inline-block;
	position: absolute;
	top: 65%;
	left: 62%;
  	-ms-transform:translate(-50%,-50%);
 	-webkit-transform:translate(-50%,-50%);
  	transform:translate(-50%,-50%);
}

.socials {
	position: relative;
	bottom: 20px;
	right: 260px;
}

.socials a {
  color:#851610;
  background:transparent;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  position: relative;
  display:inline;;
  width:90px;
  height:140px;
  padding-top:12px;
  margin:0 20px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.socials i {
	font-size: 60px;
}

i:hover {
  color:#F8CDCB;
  transition-delay: 0.5s;
}

.sub-text {
	position: relative;
	bottom: 50px;
	right: 250px;
}

.sub-text p {
	color: white;
	font-family: 'Roboto Serif', serif;
	text-align: center;
	font-size: 16px;
}

.sub-text p:hover {
	color:#851610;
	cursor: pointer;
	transition-delay: 0.5s;
}

/* Footer */

.footer-main {
	position: relative;
	top: 67rem;
	width: 100%;
	height: 200px;
}

.footer {
	background-color: black;
}

.footer img {
	padding: 20px;
	height: 200px;
	width: 170px;
}

.footer img:hover {
	cursor: pointer;
}

.copyright {
	font-size: 14px;
	position: relative;
	bottom: 20px;
	left: 30px;
	color: white;
	text-align: center;
}

.copyright a {
	color: #851610;
	text-decoration: none;
}

.copyright a:hover {
	color: #F8CDCB;
}

	
